.order-details {
  margin: 0% 25%;
  border: 10px solid $brand-primary;
  padding: 2%;
  font-size: 20px;
}

.btn-primary {
  font-weight: 800;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  .order-details {
    margin: 2%;
  }
}
